.box{
    width: 300px;
    height: 360px;
    border: 2px solid rgba(128, 128, 128, 0.321);
    position: relative;
    z-index: 3;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  transition:  0.5s ease-in;

}
.box:hover{
    border: 2px solid orange;
    transition:  0.5s ease-in;
    transform: scale(1.1);
z-index: 3;
}
.iconImg{
    width: 15px;
    height: 15px;
}
.button{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 3px;
    color: orange;
    border: 1px solid orange;
border-radius: 5px;
transition:  0.5s ease-in;

}
.button:hover{
    color: white;
    background-color: orange;
    transition:  0.5s ease-in;
}