.SectionOneMain {
    position: relative;
}

.SectionOneMain::after {
    content: "";
    position: absolute;
    border-radius: 72%;
    width: 11%;
    left: 10%;
    box-shadow: 0px 0px 306px 76px #eaa316;
    top: 40%;
}

.SectionOneMain::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    right: 16%;
    top: 27%;
    box-shadow: 0px 0px 170px 63px #009FE3;
    z-index: 0;
    margin-top: 150px;
}


.One {
    margin-top: 100px;
}


.content {
    position: relative;
    /* left: 22%; */
    z-index: 1;
    font-weight: bolder;
}

.contentP {
    position: relative;
    z-index: 1;
    /* left: 22%; */
}

.button {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    /* margin-left: 25%; */
    outline: none;
    border: none;
    background: linear-gradient(to right, #FC4A1A, #F7B733);
    font-weight: 500;
    z-index: 12;
    color: white;
}

.rightSideMain {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

}

.div1 {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.rightsideImgs {
    position: relative;
    width: 150px;
    z-index: 1;
}





/* Tablets */
@media only screen and (min-width: 767px) and (max-width: 1023px) {}

/* 1300px Resolution */
@media only screen and (min-width: 1024px) and (max-width: 1469px) {}

/* 1600px Resolution */
@media only screen and (min-width: 1470px) and (max-width: 1800px) {}

@media only screen and (min-width: 1801px) and (max-width:5500px) {}

/* Mobile */
@media (min-width: 767px) and (max-width: 900px) {
    .content {
        left: 0%;
        font-size: 30px !important;
    }

    .contentP {
        left: 0%;
    }

    .button {
        margin-left: 0%;

    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .content {
        left: 0%;
        font-size: 30px !important;
    }

    .contentP {
        left: 0%;
    }

    .button {
        margin-left: 0%;

    }


}