#mainAccordion{
    padding: 5px;
}
.shadoBefore::before{
    content: "";
    position: absolute;
    border-radius: 72%;
    width: 11%;
   right: 10%;
    box-shadow: 0px 0px 306px 76px #eaa316;
    top: 20%
}
.shadoBefore::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 10%;
    top: 74%;
    box-shadow: 0px 0px 170px 63px #009FE3;
    z-index: 0;
}