.footerLogo{
    width: 150px;
}
.hr{
        color: gray;
        width: 80%;
    }

    .BoxShado::after{
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 5%;
        bottom: 0%;
       left: 10%;
        box-shadow: 0px 0px 200px 100px #eaa316;
        z-index: 0;
    }