@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.accordion-item{
    color: white !important;
    background-color: rgba(128, 128, 128, 0.293);
backdrop-filter: blur(10px);
border: none !important;
}
.accordion-body{
    color: white !important;
}
.accordion-button{
    color: white !important;
    background-color: rgba(128, 128, 128, 0.293);
backdrop-filter: blur(10px);
}

.text-white {
    /* --bs-text-opacity: 1; */
    opacity: 100;
    color: white !important;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: rgba(128, 128, 128, 0.293) !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.Accordion-P{
padding: 20px !important;
}